@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}

main{
    margin: 10%;
}

header{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5%;
    padding-right: 10%;
}

button{
    outline: none;
    border: none;
    font-size: 100%;
    font-weight: bold;
    padding: 14px;
    border-radius: 0;
    background: #fff;
    text-decoration: underline;
    transition: box-shadow 0.5s ease;
}

button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}